*{
  margin: 0;
  padding: 0;
}

.main-project-section {
  height: 86dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
  gap: 6.875rem;
  padding-right: 7.6875rem;
  box-sizing: border-box;
}
.txt-main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.125rem;
  max-width: 66.25rem;
}

.main-title {
  font-family: 'Heavitas', sans-serif;
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-desc {
  font-family: 'Inter', sans-serif;
  color: #FFF;
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* --- GRID DE 3 IMÁGENES --- */
.images-container {
  display: flex;
  gap: 1.75rem;
  width: 100%;
}

.img-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 28px;
}

.project-img {
  object-fit: cover; /* Evita que las fotos se deformen si son de distintos tamaños */
  transition: transform 0.3s ease;
  border-radius: 16px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 300px;
}


@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.skeleton-title,
.skeleton-desc,
.skeleton-img {
  background: #0b65bf;
  background-image: linear-gradient(
    to right,
    #0b65bf 0%,
    #0e78e3 20%,
    #0b65bf 40%,
    #0b65bf 100%
  );
  background-repeat: no-repeat;
  background-size: 1200px 100%;
  animation: shimmer 2s infinite linear forwards;
}

/* --- Formas específicas de los elementos fantasma --- */

.skeleton-txt-main {
  width: 100%;
}

.skeleton-title {
  width: 70%; /* El título es ancho pero no llega al final */
  height: 60px; /* Alto de tu main-title */
  border-radius: 8px;
  margin-bottom: 2rem; /* Separación con el párrafo */


}

.skeleton-desc {
  width: 100%;
  height: 1.5rem; /* Alto de una línea de texto de 24px */
  border-radius: 4px;
  margin-bottom: 1rem; /* Espacio entre líneas */
}

.skeleton-desc.medium {
  width: 80%; /* Segunda línea un poco más corta */
}


/* Grid de imágenes fantasma */
.skeleton-img-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 28px;
}

/* Busca esta clase y cámbiale el width y height */
.skeleton-img {
  width: 400px; /* Igual que tus imágenes reales */
  height: 300px; /* Igual que tus imágenes reales */
  border-radius: 16px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
}
