<section class="main-component">
  <section class="text-div">
    <div class="hhh">
      <h1 class="title-main">SAMANTHA<br/>AVALOS</h1>
      <p class="parraf-main">DISEÑADORA INDUSTRIAL </p>
      <div class="cta-wrap">
        <a class="btn-sobre" href="#about">SOBRE MÍ</a>
      </div>
    </div>
  </section>
  <section class="img-div">
    <img id="samiCort" class="img-vaquita" src="/assets/samivaquita.png" alt="Samivaquita" />
    <img id="samiComp" class="img-vaquita" src="/assets/Samicompleta.png" alt="Samivaquita" />
  </section>
</section>
