<nav class="panel-nav">
  <ul class="menu-list">

    <li>
      <p class="menu-section-label">Portafolio</p>
    </li>

    <li class="menu-item">
      <a routerLink="/administracion/proyecto-portafolio/listar" routerLinkActive="active" class="menu-link" (click)="alNavegar()">
        <span class="icon-wrapper">🚀</span>
        <span class="text">Proyectos</span>
      </a>
    </li>

    <li>
      <div class="menu-divider"></div>
      <p class="menu-section-label">Tienda</p>
    </li>

    <li class="menu-item">
      <a routerLink="producto/listar" routerLinkActive="active" class="menu-link" (click)="alNavegar()">
        <span class="icon-wrapper">🛍️</span>
        <span class="text">Productos</span>
      </a>
    </li>

    <li>
      <div class="menu-divider"></div>
      <p class="menu-section-label">Apariencia</p>
    </li>

    <li class="menu-item">
      <a routerLink="configuracion-colores" routerLinkActive="active" class="menu-link" (click)="alNavegar()">
        <span class="icon-wrapper">🎨</span>
        <span class="text">Colores de fondo</span>
      </a>
    </li>

  </ul>
</nav>
