<nav class="panel-nav">
  <ul class="menu-list">

    <li class="menu-item">
      <a routerLink="/administracion/categoria/listar" routerLinkActive="active" class="menu-link" (click)="alNavegar()">
        <span class="icon-wrapper">📂</span>
        <span class="text">Categoría</span>
      </a>
    </li>

    <li class="menu-item">
      <a routerLink="/administracion/proyecto/listar" routerLinkActive="active" class="menu-link" (click)="alNavegar()">
        <span class="icon-wrapper">🚀</span>
        <span class="text">Proyecto</span>
      </a>
    </li>

    <li class="menu-item">
      <a routerLink="/administracion/imagenes/listar" routerLinkActive="active" class="menu-link" (click)="alNavegar()">
        <span class="icon-wrapper">🖼️</span>
        <span class="text">Imágenes</span>
      </a>
    </li>

    <li>
      <div class="menu-divider"></div>
      <p class="menu-section-label">Tienda</p>
    </li>

    <li class="menu-item">
      <a routerLink="producto/listar" routerLinkActive="active" class="menu-link" (click)="alNavegar()">
        <span class="icon-wrapper">🛍️</span>
        <span class="text">Productos</span>
      </a>
    </li>

  </ul>
</nav>
