<section class="grid-page-container">

  <div class="grid-header-container">
    <a routerLink="/" class="back-button">
      <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
    </a>

    <div class="grid-header">
      <div class="header-titles">
        <h1 class="page-title">MIS PROYECTOS</h1>
        <p class="page-subtitle">Proyectos de diseño, prototipado y fabricación.</p>
      </div>

      <div class="filter-dropdown">
        Relevancia <span class="arrow-down">v</span>
      </div>


    </div>
  </div>

  <div class="projects-grid" *ngIf="isLoading">
    <div *ngFor="let i of [1,2,3,4,5,6,7,8]" class="grid-card">
      <div class="skeleton-img"></div>
      <div class="card-info">
        <div class="card-tit-txt">
          <div class="skeleton-title"></div>
          <div class="skeleton-desc"></div>
        </div>
        <div class="skeleton-btn"></div>
      </div>
    </div>
  </div>

  <div class="projects-grid" *ngIf="!isLoading">
    <div *ngFor="let proyecto of proyectos" class="grid-card">
      <img [src]="getCurrentImage(proyecto)" [alt]="proyecto.titulo" class="card-img">

      <div class="card-info">
        <div class="card-tit-txt">
          <h2 class="card-title">{{ proyecto.titulo | uppercase }}</h2>
          <p class="card-desc">{{ proyecto.descripcion }}</p>
        </div>

        <a [routerLink]="['/proyecto/detalle', proyecto.idProyecto]" class="btn-ver-mas">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
            <path d="M0.305976 0.308501C0.110061 0.506076 4.76837e-07 0.77402 4.76837e-07 1.0534C4.76837e-07 1.33279 0.110061 1.60073 0.305976 1.7983L5.47843 7.01343L0.305976 12.2286C0.121618 12.4282 0.0212626 12.6922 0.0260248 12.965C0.030787 13.2377 0.140296 13.498 0.33151 13.691C0.522724 13.884 0.780735 13.9947 1.05126 13.9998C1.32178 14.0049 1.58371 13.904 1.78195 13.7184L7.69402 7.75916C7.88994 7.56158 8 7.29364 8 7.01426C8 6.73487 7.88994 6.46693 7.69402 6.26936L1.78359 0.308501C1.58763 0.110969 1.32188 0 1.04478 0C0.767685 0 0.501934 0.110969 0.305976 0.308501Z" fill="white"/>
          </svg>
        </a>
      </div>



    </div>
  </div>



</section>
