@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Adam';
  src: url('/fonts/Adam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Heavitas';
  src: url('/fonts/Heavitas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
