@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Adam';
  src: url('/fonts/Adam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Heavitas';
  src: url('/fonts/Heavitas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
 @media (max-height: 980px) {
  html {
    font-size: 14px; /* Todo lo que esté en 'rem' se encogerá automáticamente un 12.5% */
